# **Airbnb Data Collection**

## Objectives

* Have data fetched from Kaggle and save as raw data that will be used to develop the project.

## Inputs

* Have the data inputed using Kaggle Jason file, and then loaded and inspected. 

## Outputs

* Have the dataset that will be used in the analyse process generated.

---

# Change working directory

* Have the working directory changed from its current folder to its parent folder.
    + We access the current directory with `os.getcwd()`.

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/europe-airbnb-prices/jupyter_notebooks'

* Have the parent of the current directory set up as the new current directory.
    + `os.path.dirname()` gets the parent directory;
    + `os.chir()` defines the new current directory.

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

* Have the new current directory confirmed.

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/europe-airbnb-prices'

---

# Loadind and Preparing Data

Have data loaded and prepered for the next steps of analysis.

Install Kaggle package to import data.

In [ ]:
pip install kaggle==1.5.12

Recognising the **kaggle.jason** file in the session.

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

Getting the dataset path from kaggle url.

In [ ]:
KaggleDatasetPath = "cahyaalkahfi/airbnb-european-cities-join"
DestinationFolder = "inputs/datasets/raw"
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Unzip the downloaded file, then delete the zip file and kaggle.json file.

In [ ]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
  && rm {DestinationFolder}/*.zip \
  && rm kaggle.json

Loading data.

In [4]:
import pandas as pd
df = pd.read_csv(f"inputs/datasets/raw/airbnb_european-cities.csv")
df.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,city,weekends
0,319.640053,Private room,False,True,2,False,0,1,9,88,1,4.763360,0.852117,Amsterdam,True
1,347.995219,Private room,False,True,2,False,0,1,9,87,1,5.748310,3.651591,Amsterdam,True
2,482.975183,Private room,False,True,4,False,0,1,9,90,2,0.384872,0.439852,Amsterdam,True
3,485.552926,Private room,False,True,2,True,0,0,10,98,1,0.544723,0.318688,Amsterdam,True
4,2771.541724,Entire home/apt,False,False,4,True,0,0,10,100,3,1.686798,1.458399,Amsterdam,True

DataFrame Summary

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   realSum                     51707 non-null  float64
 1   room_type                   51707 non-null  object
 2   room_shared                 51707 non-null  bool
 3   room_private                51707 non-null  bool
 4   person_capacity             51707 non-null  int64
 5   host_is_superhost           51707 non-null  bool
 6   multi                       51707 non-null  int64
 7   biz                         51707 non-null  int64
 8   cleanliness_rating          51707 non-null  int64
 9   guest_satisfaction_overall  51707 non-null  int64
 10  bedrooms                    51707 non-null  int64
 11  dist                        51707 non-null  float64
 12  metro_dist                  51707 non-null  float64
 13  city                        51707 non-null  object
 14  weekends                    51707 non-null  bool
dtypes: bool(4), float64(3), int64(6), object(2)
memory usage: 4.5+ MB

Have `realSum`, `metro_dist` and `dist` columns name changed to `daily_price`, `metro_dist_km` and `city_center_dist_km` to have a good presentation and understand of the data.

In [6]:
df = df.rename(columns={'realSum' : 'daily_price', 'metro_dist' : 'metro_dist_km', 'dist' : 'city_center_dist_km'})
df.head()

,daily_price,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,city_center_dist_km,metro_dist_km,city,weekends
0,319.640053,Private room,False,True,2,False,0,1,9,88,1,4.763360,0.852117,Amsterdam,True
1,347.995219,Private room,False,True,2,False,0,1,9,87,1,5.748310,3.651591,Amsterdam,True
2,482.975183,Private room,False,True,4,False,0,1,9,90,2,0.384872,0.439852,Amsterdam,True
3,485.552926,Private room,False,True,2,True,0,0,10,98,1,0.544723,0.318688,Amsterdam,True
4,2771.541724,Entire home/apt,False,False,4,True,0,0,10,100,3,1.686798,1.458399,Amsterdam,True

Have data checked for empty cells.

In [7]:
blank_mask = df.isnull() | (df == '')
null_or_blank_rows = df[blank_mask.any(axis=1)]
print(null_or_blank_rows)

Empty DataFrame
Columns: [daily_price, room_type, room_shared, room_private, person_capacity, host_is_superhost, multi, biz, cleanliness_rating, guest_satisfaction_overall, bedrooms, city_center_dist_km, metro_dist_km, city, weekends]
Index: []

Have column names and the values in the DataFrame cleaned up from any leading or trailing spaces.

In [8]:
# Trim spaces in column names
df.columns = df.columns.str.strip()

# Trim spaces in all string columns
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip()
print(df.head())

   daily_price        room_type  room_shared  room_private  person_capacity  \
0   319.640053     Private room        False          True                2
1   347.995219     Private room        False          True                2
2   482.975183     Private room        False          True                4
3   485.552926     Private room        False          True                2
4  2771.541724  Entire home/apt        False         False                4

   host_is_superhost  multi  biz  cleanliness_rating  \
0              False      0    1                   9
1              False      0    1                   9
2              False      0    1                   9
3               True      0    0                  10
4               True      0    0                  10

   guest_satisfaction_overall  bedrooms  city_center_dist_km  metro_dist_km  \
0                          88         1             4.763360       0.852117
1                          87         1             5.748310       3.651591
2                          90         2             0.384872       0.439852
3                          98         1             0.544723       0.318688
4                         100         3             1.686798       1.458399

        city  weekends
0  Amsterdam      True
1  Amsterdam      True
2  Amsterdam      True
3  Amsterdam      True
4  Amsterdam      True

Have just data that will be used in the analysis selected.

In [9]:
# Correct columns to select
columns_to_select = ['city', 'bedrooms', 'room_type', 'city_center_dist_km', 'metro_dist_km', 'daily_price', 'weekends']

# Selecting the existing columns
df = df[columns_to_select]
df.head()

,city,bedrooms,room_type,city_center_dist_km,metro_dist_km,daily_price,weekends
0,Amsterdam,1,Private room,4.763360,0.852117,319.640053,True
1,Amsterdam,1,Private room,5.748310,3.651591,347.995219,True
2,Amsterdam,2,Private room,0.384872,0.439852,482.975183,True
3,Amsterdam,1,Private room,0.544723,0.318688,485.552926,True
4,Amsterdam,3,Entire home/apt,1.686798,1.458399,2771.541724,True

Have data on columns `city_center_dist_km` and `metro_dist_km` displayed with 3 
decimals place, and on column `daily_price` with 2 decimals place.

In [10]:
df['city_center_dist_km'] = df['city_center_dist_km'].round(3)
df['metro_dist_km'] = df['metro_dist_km'].round(3)
df['daily_price'] = df['daily_price'].round(2)
df.head()

,city,bedrooms,room_type,city_center_dist_km,metro_dist_km,daily_price,weekends
0,Amsterdam,1,Private room,4.763,0.852,319.64,True
1,Amsterdam,1,Private room,5.748,3.652,348.00,True
2,Amsterdam,2,Private room,0.385,0.440,482.98,True
3,Amsterdam,1,Private room,0.545,0.319,485.55,True
4,Amsterdam,3,Entire home/apt,1.687,1.458,2771.54,True

Have data on column `weekend` converted to integer: **True = 1** and **False = 0**.

In [11]:
df.weekends = df.weekends.replace({True: 1, False: 0})
df.head()

,city,bedrooms,room_type,city_center_dist_km,metro_dist_km,daily_price,weekends
0,Amsterdam,1,Private room,4.763,0.852,319.64,1
1,Amsterdam,1,Private room,5.748,3.652,348.00,1
2,Amsterdam,2,Private room,0.385,0.440,482.98,1
3,Amsterdam,1,Private room,0.545,0.319,485.55,1
4,Amsterdam,3,Entire home/apt,1.687,1.458,2771.54,1

---

# Pushing File to Repo

* Have new folder created to save the DataFrame that will be used in the next steps of the analysis.

In [ ]:
import os
try:
  os.makedirs(name='outputs/datasets/collection')
except Exception as e:
  print(e)

df.to_csv(f"outputs/datasets/collection/EuropeanCitiesAirbnb.csv",index=False)

---

# Conclusion

In this second step of my analysis, data was collected, stored and processed to be used in the next step of the analysis.

---

# Next Step

Have variables and their distribuition checked to finish the data processing step and then start the analysis process.